*
    margin: 0
    padding: 0
    box-sizing: border-box

header
    .logo
    .nav
        padding-left: 36px

    .avatar
        width: 50px
        height: 50px
        object-fit: cover

section
    .card
        padding: 7em 5em
        border: none

        img
            border-radius: 8px

        .card-thumbnail
            border-radius: 8px

    .product-description

        .card-body
            padding: 0
            .card-company

                .card-title
                    font-weight: bold
                .card-text

        .card-price
            .card-price-now
                font-size: 2em
            .card-discount
                color: orange
                font-weight: bold
                background-color: moccasin
                margin-left: 1.5em
                padding: 6px 8px
                border-radius: 6px
            .card-price-was
                text-decoration: line-through
                font-weight: 600
        .card-add
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button
                -webkit-appearance: none
                margin: 0
            .input-amount
                background-color: gainsboro
                border: none

    .attribution
        font-size: 11px
        text-align: center
    a
        color: hsl(228, 45%, 44%)
